[Desktop Entry]
Name=omniverse-launcher
Exec="/home/syw/Downloads/omniverse-launcher-linux (1).AppImage"  %u
Type=Application
Terminal=false
MimeType=x-scheme-handler/omniverse-launcher
